<form action="/robots" method="post">
  <div class="row well form-group">
    <div class="col-md-4 text-center">
      <h2>Create a new robot: </h2>
    </div>
    <div class="col-md-8">
      <input class="form-control" type='text' name='robot[name]' placeholder="Name"/><br/>
      <input class="form-control" type='text' name='robot[city]' placeholder="City"/><br/>
      <input class="form-control" type='text' name='robot[state]' placeholder="State"/><br/>
      <input class="form-control" type='text' name='robot[avatar]' placeholder="Avatar"/><br/>
      <input class="form-control" type='text' name='robot[birthdate]' placeholder="Birthday DD/MM/YYYY"/><br/>
      <input class="form-control" type='text' name='robot[date_hired]' placeholder="Date Hired DD/MM/YYYY"/><br/>
      <input class="form-control" type='text' name='robot[department]' placeholder="Department"/><br/>
      <input class="btn-info" type='submit'>
    </div>
  </div>
</form>
